/* Chatbot styles */

.chatbot {
  --chat-history-width: 280px;
  --side-bar-width: 125px;
  --screen-menu-width: 300px;

  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  background: #f9fbfc;
  height: calc(100% - 54px);
}

.container {
  overflow-y: scroll;
  height: calc(100vh - 54px - 78px);
  max-height: calc(100vh - 54px - 78px);
}

.chat_section {
  padding-inline: 18px 24px;
  padding-block: 8px 4px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
}

.chat_box_container {
  padding-inline: 18px 24px;
  padding-block: 14px;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
}

.workspace .chat_box_container {
  width: calc(100% - var(--chat-history-width) - var(--side-bar-width));

  @media (min-width: 1480px) {
    width: calc(100% - var(--chat-history-width) - var(--screen-menu-width));
  }
}

.side_chatbot .chat_box_container {
  width: 100%;
}
