.container {
  max-width: 600px;
  margin-top: 50px;

  min-height: 600px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.header {
  text-align: left;
  margin-bottom: 20px;
  /* was 60px */
}

.mainTitle {
  color: #cc1a1f !important;
  font-family: "Poppins" !important;
  font-size: 28px !important;
  font-style: normal !important;
  font-weight: 300 !important;
  padding-bottom: 20px !important;
}

.input_field {
  border-radius: 18px;
  background: #fff;
  box-shadow: 0px 1px 4px 3px
      var(--shadow-colors-primary, rgba(35, 35, 47, 0.06)),
    0px 6px 12px 0px rgba(101, 101, 120, 0.08);
}

.input_field::placeholder {
  color: #adadad;
  font-family: var(--primary-font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

.featuresGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  max-width: 600px;
  margin: 0 auto;
}
