.chatbot {
  display: flex;
  flex-flow: column wrap;
  width: fit-content;
  max-width: 50%;
  margin-bottom: 8px;
  padding: 10px 14px;
  border-radius: 10px;
}

.friday_chat {
  background: #fff;
  border: 1px solid #e3e3e3;
}

.user_chat {
  align-self: flex-end;
  background: var(--primary-color);
  border: 1px solid var(--primary-color-dark);
}

.message {
  margin: 0;
  font-size: 14px;
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

/* Target global elements inside .message */
.message :global(p),
.message :global(ol),
.message :global(ul) {
  margin: 0;
}

.message :global(ol) {
  padding-inline-start: 20px;
}

.message :global(ul) {
  margin-block-start: 0 !important;
}

.chatbot .message {
  color: #000;
}

.friday_chat .message {
  color: #667085;
}

.user_chat .message {
  color: white;
}

/* Table styles */

/* Container for the markdown content */
.message :global(table) {
  border-collapse: separate;
  border-spacing: 0;
  margin-block: 1rem 1.5rem;
  margin-inline: 0;
  border-radius: 8px;
  overflow: hidden;
}

/* Make first column bold */
.message :global(td:first-child),
.message :global(th:first-child) {
  font-weight: 900;
}

/* Table cells */
.message :global(th),
.message :global(td) {
  border: 1px solid rgb(217, 225, 229);
  padding: 8px 16px;
  text-align: left;
}

/* Remove double borders */
.message :global(th:not(:last-child)),
.message :global(td:not(:last-child)) {
  border-right: none;
}

.message :global(tr:not(:last-child) th),
.message :global(tr:not(:last-child) td) {
  border-bottom: none;
}

/* Table header */
.message :global(th) {
  font-weight: bold;
  color: rgb(128, 159, 184);
}

/* Round the top corners */
.message :global(tr:first-child th:first-child) {
  border-top-left-radius: 8px;
}
.message :global(tr:first-child th:last-child) {
  border-top-right-radius: 8px;
}

/* Round the bottom corners */
.message :global(tr:last-child td:first-child) {
  border-bottom-left-radius: 8px;
}
.message :global(tr:last-child td:last-child) {
  border-bottom-right-radius: 8px;
}
